* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
	background-color: rgba(196, 196, 196, 0.75);
	height: 70px; 
	width: 100%;
	margin-bottom: 38px;
}

.logo {
	font-size: 40px;
	margin-left: 325px;
	color: #3A3A3A;
	display: inline-block;
	margin-right: 424px;
}

.input-div {
	background-color: white; 
	display: inline-block;
	width: 295px;
	height: 45px;
	margin-top: 14px;
}

.input-div:before {
	content: '';
	width: 13px;
	height: 13px;
	background-image: url('images/Ellipse.svg');
	background-size: 13px 13px;
	display: inline-block;
	margin-left: 12px;
	margin-right: 15px;
}

.search-field {
	font-size: 14px; 
	line-height: 45px; 
	color: #616161;
	border: none;
	display: inline-block;
	width: 255px;
	height: 45px;
}

#main-wrapper {
	width: 1024px;
	margin: 0 auto;
}

.product-wrapper {
	width: 294px;
	margin-right: 71px;
	float: left;
	padding-bottom: 30px;
	background-color: #F4F5F7;
	position: relative;
}

.image-wrapper { 
	background-color: rgba(200, 164, 164, 0.55);
	width: 294px;
	height: 301px;
	position: absolute;
	left: 0;
	top: 0;
}

.product-info {
	padding-left: 17px;
}

.clear:after {
	content: '';
	clear: both;
	display: block;
}

.product-wrapper:last-child {
	margin-right: 0px;
}

.product-name {
	color: #3A3A3A;
	font-size: 24px;
	line-height: 29px;
	margin-top: 16px;

}

.product-description {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #898989;
	margin-top: 8px;
}

.relevant-price {
	margin-top: 8px;
	color: #3A3A3A;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	display: inline;
	margin-right: 16px;
}

.old-price {
	color: #B0B0B0;
	font-size: 16px;
	line-height: 24px;
	text-decoration: line-through;
	display: inline;
}

.sale {
	background-color: #E97171;
	width: 50px;
	height: 48px; 
	top: 24px;
	right: 24px;
	position: absolute;
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 100%;
}

.new {
	background-color: #2EC1AC;
	width: 48px;
	height: 48px; 
	top: 24px;
	right: 33px;
	position: absolute;
	font-size: 16px;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 100%;
}